/data
/.venv
/stylegan2-ada-pytorch
/models/*
__pycache__/split_dataset.cpython-310.pyc
__pycache__/train_model.cpython-310.pyc
old/01_setup.ipynb
old/02_train_models.ipynb
old/03_generate_synthetic.ipynb
old/04_evaluate_models.ipynb
old/05_report.ipynb
old/06_utils.ipynb
old/07_main.ipynb
__pycache__/split_dataset.cpython-37.pyc
__pycache__/split_dataset.cpython-37.pyc
__pycache__/train_model.cpython-37.pyc
__pycache__/split_dataset.cpython-37.pyc
__pycache__/train_model.cpython-37.pyc
__pycache__/split_dataset.cpython-37.pyc
__pycache__/train_model.cpython-37.pyc
